header {
    display: flex;
    justify-content: space-between;
    padding: 12px 80px;
    position: relative;
}

nav {
    display: flex;
    gap: 20px;
}


@media only screen and (max-width: 900px) {
    header {
        padding: 12px 50px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 30px;
        top: 120%;
        background-color: rgb(228, 184, 230);
        padding: 20px;
        transition: 0.9s;
        z-index: 1;
    }
}